<!DOCTYPE html>
<html lang="ro">

<head>
  <title>Olfacto - Parfumuri de Nișă</title>
  <meta name="description" content="Magazin online de parfumuri de nisa pentru femei, barbati si unisex.">
  <meta name="keywords"
    content="parfumuri, cosmetice, produse de ingrijire personala, make-up, accesorii de frumusete, nisate, parfumuri de lux, parfumuri pentru femei, parfumuri pentru barbati, parfumuri unisex, parfumuri originale, parfumuri de calitate, parfumuri la preturi accesibile, parfumuri online, magazin de parfumuri online, parfumuri Bucuresti, parfumuri Romania, parfumuri de firma, parfumuri de nisa, parfumuri de lux online, parfumuri de calitate superioara, parfumuri pentru toate gusturile, parfumuri pentru toate ocaziile.">
  <%- include("../fragmente/head") %>
</head>

<body>
  <%- include("../fragmente/header.ejs") %>
    <main>
      A doua pagina.
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>