<meta charset="utf-8">
<title>Olfacto - Parfumuri de Nișă</title>
<meta name="author" content="Chelarescu Alexandru">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Magazin online de parfumuri de nisa pentru femei, barbati si unisex.">
<meta name="keywords"
  content="parfumuri, cosmetice, produse de ingrijire personala, make-up, accesorii de frumusete, nisate, parfumuri de lux, parfumuri pentru femei, parfumuri pentru barbati, parfumuri unisex, parfumuri originale, parfumuri de calitate, parfumuri la preturi accesibile, parfumuri online, magazin de parfumuri online, parfumuri Bucuresti, parfumuri Romania, parfumuri de firma, parfumuri de nisa, parfumuri de lux online, parfumuri de calitate superioara, parfumuri pentru toate gusturile, parfumuri pentru toate ocaziile.">
<link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg" />
<link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest" />

<link rel="stylesheet" href="/resurse/css/general.css" type="text/css" />
<link rel="stylesheet" href="/resurse/css/nav.css" type="text/css" />
<link rel="stylesheet" href="/resurse/css/nav1000.css" type="text/css"
  media="screen and (min-width:801px) and (max-width:1000px)" />
<link rel="stylesheet" href="/resurse/css/nav700.css" type="text/css" media="screen and (max-width:800px)" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonbon&display=swap" rel="stylesheet">
<link href="/resurse/css/customizare_bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/resurse/css/print.css" media="print" />
<script src="/dist/js/bootstrap.js"></script>