<header class="header-principal">
<h1>Olfacto</h1>
    <img src="resurse/imagini/sigla.png" alt="sigla Olfacto" />
    <nav>
       <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">    
        </label>
        <input type="checkbox" id="ch-menu"/>
      <ul class="meniu">
        <li><a href="#welcome">ACASĂ</a>
          <ul>
            <li><a href="#welcome">Welcome</a></li>
            <li><a href="#promotii">Promoții</a></li>
            <li><a href="#anunturi">Anunțuri</a></li>
            <li><a href="#popularitate">Popularitate</a></li>
          </ul>
        </li>
        <li><a href="#produse">PRODUSE</a>
          <ul>
            <li><a href="#produse">Toate produsele</a></li>
            <li><a href="#galerie">Galerie</a></li>
            <li><a href="#ghid">Ghid olfactiv</a></li>
          </ul>
        </li>
        <li><a href="#orar">ORAR</a></li>
        <li><a href="#index-intrebari">ÎNTREBĂRI</a></li>
        <li><a href="#resurse-externe">RESURSE</a></li>
      </ul>
    </nav>
  </header>