<header class="header-principal">
  <h1>Olfacto</h1>
  <img src="/resurse/imagini/sigla.png" alt="sigla Olfacto" />
  <nav>
    <label id="hamburger" for="ch-menu">
      <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input type="checkbox" id="ch-menu" />

    <ul class="meniu">
      <li>
        <a href="/index#welcome"><i class="fa-solid fa-house" aria-hidden="true"></i> ACASĂ</a>
        <ul>
          <li><a href="/index#welcome"><i class="fa-solid fa-door-open" aria-hidden="true"></i> Welcome</a></li>
          <li><a href="/index#promotii"><i class="fa-solid fa-tags" aria-hidden="true"></i> Promoții</a></li>
          <li><a href="/index#anunturi"><i class="fa-solid fa-bullhorn" aria-hidden="true"></i> Anunțuri</a></li>
          <li><a href="/index#popularitate"><i class="fa-solid fa-chart-line" aria-hidden="true"></i> Popularitate</a></li>
        </ul>
      </li>

      <li>
        <a href="/index#produse"><i class="fa-solid fa-bottle-water" aria-hidden="true"></i> PRODUSE</a>
        <ul>
          <li><a href="/index#produse"><i class="fa-solid fa-box-open" aria-hidden="true"></i> Generale</a></li>
          <li><a href="/index#galerie"><i class="fa-solid fa-image" aria-hidden="true"></i> Galerie</a></li>
          <li><a href="/index#ghid"><i class="fa-solid fa-book" aria-hidden="true"></i> Ghid olfactiv</a></li>
        </ul>
      </li>

      <li><a href="/index#orar"><i class="fa-solid fa-clock" aria-hidden="true"></i> ORAR</a></li>
      <li><a href="/index#index-intrebari"><i class="fa-solid fa-question-circle" aria-hidden="true"></i> ÎNTREBĂRI</a></li>
      <li><a href="/index#resurse-externe"><i class="fa-solid fa-link" aria-hidden="true"></i> RESURSE</a></li>
      <li><a href="/index#contact"><i class="fa-regular fa-envelope" aria-hidden="true"></i> CONTACT</a></li>

      <li>
        <a href="/despre"><i class="fa-solid fa-circle-info" aria-hidden="true"></i> DESPRE</a>
        <ul>
          <li><a href="/despre#prezentare"><i class="fa-solid fa-book-open" aria-hidden="true"></i> Prezentare</a></li>
          <li><a href="/despre#istoric"><i class="fa-solid fa-clock-rotate-left" aria-hidden="true"></i> Istoric</a></li>
          <li><a href="/despre#motivatie"><i class="fa-solid fa-bullseye" aria-hidden="true"></i> Motivație</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>